[package]
name = "client"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "client"
path = "src/main.rs"

[dependencies]
render = { path = "../../engine/render" }

winit = "0.28"
glam = "0.25"
pollster = "0.3"
